@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    background-color: cadetblue;
}

nav {
    position: relative;
    display: inline-block;
    /* text-align: left; */
    text-align: center;
    align-self: center;
    max-width: 100%;
    width: 100%;
    height: max-content;
    top: 0%;
    padding: 2%;
    margin-bottom: 5%;
    background-color: black;
}

h1 {
    position: relative;
    display: inline-block;
    text-align: center;
    color: beige;
    text-decoration: underline overline double beige 2px;

    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
    font-size: 40px;

    /* font-family: 'Alfa Slab One'; */
    color: #fff;
    text-transform: uppercase;
    animation: waviy 3s infinite;
    animation-delay: calc(.1s * var(--i));

}

@keyframes waviy {

    0%,
    30%,
    40%,
    100% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(-20%)
    }
}


#txtPurpose {
    position: relative;
    padding: 1%;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    /* animation: waviy 4s infinite; */

    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #000000 0%,
            #6300ce 29%,
            #ff1361 67%,
            #0049bf 100%);
    background-clip: border-box;
    background-size: 200% auto;
    color: black;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
   
}

.txtInfo {
    margin: 1%;
    text-align: center;
    font-weight: 600;
    font-size: large;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

#chat_area {
    display: flex;
    position: relative;
    flex-direction: column;

    max-width: 100%;
    max-height: 100%;

    text-wrap: wrap;
    /* overflow: scroll; */
    border: 1px solid black;
    margin: 5%;
    margin-top: 10%;

    height: 100%;
    width: 90%;

    align-items: center;
    background-color: gray;
}

#chat_area::-webkit-scrollbar{
    display: none;
}

#chat_area > p{
    max-height: max-content;
    margin-bottom: 2%;
    width: 100%;
    position: relative;
    text-align: center;
    font-weight: 550;
    font-size: larger;
}

h2 {
    position: relative;
    margin: 2%;
    text-align: center;
    color: black;
    border: 2px dotted black;
    max-width: fit-content;
}

#msg_box {
    position: relative;
    display: flex;
    flex-direction: column-reverse;

    max-height: 80%;
    max-width: 100%;

    height: 80%;
    width: 65%;
    margin-top: 1%;

    overflow: auto;

    align-self: center;

    background-color: beige;
    border: 2px solid green;
    border-radius: 5% 5% 3% 3%;

    box-shadow: inset -2px 5px 20px black;
}

#connection_status {
    text-align: center;
    font-size: large;
    margin-bottom: 2%;
    padding: 2px;
    border: 2px dashed gray;
    border-radius: 8px;
    width: fit-content;
    align-self: center;
}

#txtChats {
    position: relative;
    justify-content: start;
    max-width: 100%;
    max-height: 100%;

    width: 100%;
    height: fit-content;

    overflow-y: scroll;
    scroll-behavior: smooth;
}

#txtChats::-webkit-scrollbar {
    display: none;
}

.sentChats {
    position: relative;
    display: flex;
    flex-direction: column;


    max-height: fit-content;
    max-width: 100%;

    width: calc(100% - 10%);
    height: max-content;
    margin: 5%;
    margin-bottom: 5%;

}

.sentChats>.msg {
    max-width: 45%;
    max-height: max-content;
    width: max-content;
    align-self: self-end;
    padding: 2%;
    padding-right: 4%;
    padding-left: 4%;
    color: white;
    background-color: rgb(4, 58, 119);
    border-radius: 10px 15px 0px 10px;
    border: 1px solid rgb(255, 255, 255);
    overflow: visible;
}

.sentChats>.identity {
    position: relative;
    align-self: self-end;
    margin: 1%;
    margin-right: 2%;
    font-size: 60%;
}

.receivedChats {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    /* float: left; */
    max-width: 100%;
    width: calc(100% - 6%);
    height: max-content;
    margin: 4%;
    margin-bottom: 8%;

    /* border: 2px solid; */
}

.receivedChats>.msg {

    max-width: 45%;
    max-height: max-content;
    
    width: max-content;
    
    padding: 2%;
    padding-right: 4%;
    padding-left: 4%;
    background-color: rgb(66, 255, 49);
    border-radius: 10px 15px 15px 0px;
    border: 1px solid rgb(0, 0, 0);
    overflow: visible;

}

.receivedChats>.identity {
    position: relative;
    align-self: self-start;
    margin: 1%;
    font-size: 60%;
}

#inputsDiv {
    position: relative;
    padding: 1px;
    display: inline-flex;
    align-self: center;
    justify-content: right;
    min-height: 7%;
    height: 7%;
    width: 65%;
    border-radius: 10px 10px 15px 15px;
    border: 2px solid black;

    box-shadow: inset -2px 1px 10px rgb(0, 0, 0);
    background-color: gray;
}

input {
    display: flex;
    position: relative;
    justify-content: center;
    height: 90%;
    
    overflow: visible;
}

#txtMsg {
    width: 60%;
    margin: 0.5%;
    margin-right: 2%;
    color: white;
    border-radius: 20px;
    text-align: center;
    font-size: 1em;
    /* font-weight: 600; */
    background-color: #000000;
}

#txtMsg::placeholder{
    color: white;
    text-align: center;
}

#btnStartStop {
    width: 15%;
    margin: 0 5% 0% -5%;
    border-radius: 15px 15px;
    font-size: 0.8em;
    font-weight: 550;
    background-color: lightcoral
}

#btnStartStop:hover {
    transform: scale(110%, 110%);
    color: #fff;
    background-color: darkblue;
}

#btnSend {
    width: 15%;
    margin: 0.5%;
    margin-right: 2%;
    border-radius: 5% 20%;
    font-size: 0.8em;
    font-weight: 550;
    color: white;
    background-color: darkmagenta;
}

#btnSend:disabled{
    text-decoration: 3px line-through solid gray;
    background-color: darkslateblue;
}

#btnSend:hover:enabled {
    transform: scale(110%, 110%);
    color: white;
    background-color: black;
}

footer {
    position: relative;
    display: block;
    height: max-content;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: beige;
    background-color: black;
}

.column {
    width: 100%;
}

@media (min-width: 600px) {
    .column {
        width: 50%;
    }
}
